{% extends "base.html" %}
{% load static %}
<!-- Title Start -->
{% block title %}
  <title>Django Blog | Categories</title>
{% endblock title %}
<!-- Title End -->
<!-- content start-->
{% block content %}
  <div class="row mb-5">
    <!-- Left Sidebar Start -->
    <div class="col-md-3">{% include "dashboards/dash_includes/dash-left-sidebar.html" %}</div>
    <!-- Left Sidebar End -->
    <!-- Right Side Start -->
    <div class="col-md-9">
      <h3>All Categories</h3>
      <div class="mb-3 d-flex flex-row-reverse">
        <a href="{% url 'dash_category_add' %}" class="text-decoration-none"><i class="fa fa-plus text-info"></i> Add Category</a>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Category Name</th>
            <th scope="col">Created At</th>
            <th scope="col">Updated At</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for cat in categories %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ cat.category_name }}</td>
              <td>{{ cat.created_at }}</td>
              <td>{{ cat.updated_at }}</td>
              <td>
                <a href="{% url 'dash_category_edit' cat.id %}"><i class="fa fa-edit text-info"></i></a>&nbsp;&nbsp;
                <a href="{% url "dash_category_delete" cat.id %}"><i class="fa fa-trash text-danger"></i></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- Right Side End -->
  </div>
{% endblock content %}
<!-- content End-->
