{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
<!-- Title Start -->
{% block title %}
  <title>Django Blog | Edit Post</title>
{% endblock title %}
<!-- Title End -->
<!-- content start-->
{% block content %}
  <div class="row mb-5">
    <!-- Left Sidebar Start -->
    <div class="col-md-3">{% include "dashboards/dash_includes/dash-left-sidebar.html" %}</div>
    <!-- Left Sidebar End -->
    <!-- Right Side Start -->
    <div class="col-md-9">
      <h3 class="mb-3">Edit Post</h3>
      <div class="w-100">
        <form action="{% url 'dash_post_edit' post.id %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form | crispy }}
          <button class="btn btn-primary float-end" type="submit">Update Post</button>
        </form>
      </div>
    </div>
    <!-- Right Side End -->
  </div>
{% endblock content %}
<!-- content End-->
