<div class="nav flex-column nav-pills bg-light" aria-orientation="vertical">
  <a href="{% url 'dashboard' %}" class="nav-link text-dark {{ nav_dashboard }}">
    <i class="fa fa-tachometer text-dark" aria-hidden="true"></i> Dashboard
  </a>
  <a href="{% url 'dash_categories' %}" class="nav-link text-dark {{ nav_dash_categories }}">
    <i class="fa fa-signal" aria-hidden="true"></i> Categories
  </a>
  <a href="{% url 'dash_posts' %}" class="nav-link text-dark {{ nav_dash_blogs }}">
    <i class="fa fa-envelope text-info" aria-hidden="true"></i> Posts
  </a>
  {% if perms.auth.view_user %}
    <a href="{% url 'dash_users' %}" class="nav-link text-dark {{ nav_dash_users }}">
      <i class="fa fa-users" aria-hidden="true"></i> Users
    </a>
  {% endif %}
  <a href="" class="nav-link text-dark">
    <i class="fa fa-sign-out text-danger" aria-hidden="true"></i> Logout
  </a>
</div>
